<html>
<body>
<h1>Market Watchlist</h1>

<table border="1" class="dataframe">
{% for item in fmcg %}
<thead><tr><th>stock</th><th>Market Cap</th><th>Price to Earnings</th><th>Price to Sales</th><th>PEG</th></tr></thead>
<tbody>
<tr>
	<td align="left">{{item.scrip}}</td>
	<td align="center">{{item.market_cap}}</td>
	<td align="center">{{item.price_to_earnings}}</td>
	<td align="center">{{item.price_to_sales}}</td>
	<td align="center">{{item.peg}}</td>
</tr>
</tbody>
{% endfor %}
</table>

</body>
</html>
